<div class="col-lg-4">
                    <!-- 検索機能-->
                     <div class="card mb-4">
                      <div class="card-header">宿名で検索</div>
                        <%= search_form_for @q, url: search_tweets_path do |f| %>
                      <div class="card-body">
                        <div class="input-group">
                          <%= f.search_field :yado_name_cont, class:'form-control' %>
                          <%= f.submit '検索', class:"btn btn-primary" %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                   
                    <!-- 都道府県カテゴリー-->
                    <div class="card mb-4">
                      <div class="card-header">都道府県名で検索</div>
                        <%= search_form_for @q, url: search_tweets_path do |f| %>
                      <div class="card-body">
                        <div class="input-group">
                          <%= f.search_field :area_id_cont, class:'form-control', placeholder:"例）北海道" %>
                          <%= f.submit '検索', class:"btn btn-primary" %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                    <!-- 投稿日カレンダー-->
                    <%# <div class="card mb-4">
                      <div class="area-search">2021年 （近日実装）</div>
                      <table class="calendar">
                        <tr class="day">
                          <td><a href="#!">1月</a></td>
                          <td><a href="#!">2月</a></td>
                          <td><a href="#!">3月</a></td>
                          <td><a href="#!">4月</a></td>
                        </tr>
                        <tr class="day">
                          <td><a href="#!">5月</a></td>
                          <td><a href="#!">6月</a></td>
                          <td><a href="#!">7月</a></td>
                          <td><a href="#!">8月</a></td>
                        </tr>
                        <tr class="day">
                          <td><a href="#!">9月</a></td>
                          <td><a href="#!">10月</a></td>
                          <td><a href="#!">11月</a></td>
                          <td><a href="#!">12月</a></td>
                        </tr>
                      </table>
                    </div> %>
                </div>