<div class='main'>
        <!-- Responsive navbar-->
        <%= render "shared/header" %>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">
                            <%= @tweet.yado_title %>
                            </h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">
                            <%= @tweet.yado_name %>
                            </div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">
                            <%= @tweet.area.name %></a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                        <%= image_tag(@tweet.image,class:"img-fluid rounded") %>
                        </figure>
                        <div class="text-muted fst-italic mb-2">
                          <%= @tweet.date %>
                         <div class="text-muted fst-italic mb-2">
                          利用時の金額 <%= @tweet.price %>円
                        <!-- Post content-->
                        <section class="mb-5 text-body">
                            <%= @tweet.text %>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                            <%= form_with model: @comment do |f| %>
                                <!-- Comment form-->
                                <%= f.text_area :text, placeholder: "ここにコメントを入力", rows: "3", class: "form-control" %>
                                <div class="text-right">
                                <%= f.submit "コメント", class: "btn btn-warning" %>
                                </div>
                                <% end %>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <% @comments.each do |comment| %>
                                    <p>
                                      <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                                        <%= comment.text %>
                                    </p>
                                    <% end %>
                                </div>
                                <!-- Single comment-->

                            </div>
                        </div>
                         <% if user_signed_in? && current_user.id == @tweet.user_id %>
                        <%= link_to "投稿の編集",  edit_tweet_path, method: :get, class: "btn btn-primary" %>
                        <%= link_to "投稿の削除", tweet_path, method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-primary" %>
                        <% end %>
                    </section>
                </div>
                <!-- Side widgets-->
                <%= render "tweets/widget" %>
                </div>
            </div>
        </div>
</div>
<!-- Footer-->
<%= render "shared/footer" %>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
